services:
  postgres:
    image: postgres
    container_name: maromba_postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=maromba_db
